<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta  name="Description" content="Méril Pilon - Software Engineer. Young and passionate problem solver. Communication and team working effective, strong programming and analytical skills. Started in France and now working in London."> 
    <meta name="keywords" content="méril pilon, meril pilon, resume, engineer, computer science, linkedin, job, cv, ruffer, sopra">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="author" href="humans.txt" />

    <title><%= data.page.title %></title>
    
    <%= favicon_tag 'images/favicon.png' %>
    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= partial "header" %>
    <%= yield %>

    <%= javascript_include_tag  "all" %>
  </body>
</html>
